<%-include('../../views/partials/admin/header')%>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method="post" action="/admin/addCategory" onsubmit="return handleFormSubmition(event)" >
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Name</label>
                            <input type="text" placeholder="Type here" class="form-control" name="name" id="product_name" />
                            <div id="name-error" class="error-message" style="display: none; color: red;"></div>
                        </div>
                        
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea id="descriptionId" placeholder="Type here" class="form-control" name="description"></textarea>
                            <div id="description-error" class="error-message" style="display: none; color: red;"></div>
                        </div>
                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create category</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Offer Price</th>
                                    <th>Offer</th>
                                    <th>Status</th>
                                    <th>List/Unlist</th>
                                    <th class="text-start">Edit</th>
                                </tr>
                    
                            </thead>
                            <tbody>
                                <%cat.reverse().forEach((category,index)=>{%>
                                    <tr>
                                        <td></td>
                                        <td class="text-start"><%=category.name%></td>
                                        <td class="text-start"><%=category.description%></td>
                                        <td>
                                        </td>
                                        <td class="text-start">
                                          <button class="btn btn-info" style="width: 100px">
                                            <a href="#" class="text-white">Add Offer</a>
                                          </button>
                                          <button class="btn btn-info"style="width: 100px">
                                            <a href="#" class="text-white">Remove</a>
                                          </button>
                                        </td>
                                        <td class="text-start">
                                          <span class="badge rounded-pill alert-success" style="width: 60px">Listed</span>
                                          <span class="badge rounded-pill alert-danger" style="width: 60px">Unlisted</span>
                                        </td>
                                        <td class="text-start">
                                          <button class="btn btn-danger" style="width: 70px">
                                            <a href="#" class="text-white">Unlist</a>
                                          </button>
                                          <button class="btn btn-success" style="width: 70px">
                                            <a href="" class="text-white">List</a>
                                          </button>
                                        </td>
                                        <td class="text-start">
                                          <a href="" class="btn btn-info text-white">Edit</a>
                                        </td>
                                      </tr>
                                    <!-- <tr>


                                        
                        
                                        <td class="text-center"><i class="material-icons md-subdirectory_arrow_right text-muted"></i></td>
                                        <td></td>
                                        <td><b><%=category.name%></b></td>
                                        <td><%=category.description%></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>  dropdown //end 
                                        </td> 
                                    </tr>  -->
                                    <%})%>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-container">
                        <% if (currentPage > 1) { %>
                        <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
                        <% } %> <% for (let i = 1; i <= totalPages; i++) { %> <% if (i ===
                        currentPage) { %>
                        <span class="current-page"><%= i %></span>
                        <% } else { %>
                        <a href="?page=<%= i %>"><%= i %></a>
                        <% } %> <% } %> <% if (currentPage < totalPages) { %>
                        <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
                        <% } %>
                      </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
    
  
</section> <!-- content-main end// -->
<script>
    function handleFormSubmition(event) {
        event.preventDefault();
        if (!validateForm()) {
            return;
        }
        const name = document.getElementsByName('name')[0].value;
        const description = document.getElementById('descriptionId').value;

        fetch('/admin/addCategory', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name, description })
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(err => {
                    throw new Error(err.error);
                });
            }
            return response.json();
        })
        .then(data => {
            location.reload(); 
        })
        .catch(error => {
            if (error.message === 'Category already exists') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops',
                    text: 'Category already exists'
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops',
                    text: 'An error occurred while adding the category'
                });
            }
        });
    }

    function validateForm() {
        clearErrorMessages();
        const name = document.getElementsByName('name')[0].value.trim();
        const description = document.getElementById('descriptionId').value.trim();
        let isValid = true;

        if (name === '') {
            displayErrorMessage('name-error', 'Please enter a name');
            isValid = false;
        } else if (!/^[a-zA-Z\s]+$/.test(name)) {
            displayErrorMessage('name-error', 'Only alphabets are allowed');
            isValid = false;
        }
        if (description === '') {
            displayErrorMessage('description-error', 'Please enter a description');
            isValid = false;
        }
        return isValid;
    }

    function displayErrorMessage(elementId, message) {
        var errorElement = document.getElementById(elementId); 
        errorElement.innerText = message;
        errorElement.style.display = 'block';
    }

    function clearErrorMessages() {
        const errorElements = document.querySelectorAll('.error-message'); 
        errorElements.forEach((element) => {
            element.innerText = '';
            element.style.display = 'none';
        });
    }
</script>


<%-include('../../views/partials/admin/footer')%>
